<%= form_for :dump, :url=> { :action=>"import_csv" }, :html => { :multipart => true } do |f| %>
  <table>
    <tr>
      <td>Select a CSV File :</td>
      <td>
        <%= f.file_field :file %>
      </td>
      <td>
        <%= submit_tag 'Submit' %>
      </td>
    </tr>
  </table>
<% end %>