<%= form_tag proceed_to_pay_path do %>
  <%= hidden_field_tag 'event_id', @event.id %>
  <div class="checkout container">
    <div class="module-title-x font-alt">Checkout </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" id="name" name="first_name" placeholder="Name" required>
          <p class="error-msg">First Name is required</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" id="Text1" name="last_name" placeholder="Last Name" required></div>
          <p class="error-msg">Last Name is required</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Email  <span class="asteric">*</span></label>
          <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
          <p class="error-msg">Email is required</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Mobile <span class="asteric">*</span></label>
          <input type=
        "text" class="form-control" id="mobile" name="mobile_number" placeholder="Mobile Number" required>
          <p class="error-msg">Mobile is required</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Head Count <span class="asteric">*</span></label>
          <input type=
        "text" class="form-control" id='head_count' name="head_count" placeholder="(1-10 people max)" required>
          <p class="error-msg">Head Count is required</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Pickup Point <span class="asteric">*</span></label>
          <select class="form-control" id="dc">
            <% @pick_up_points.each do |pick_up_point| %>
              <option><%= pick_up_point.name %></option>
            <% end %>
          </select>
          <p class="error-msg">Pickup is required</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Your Commnts</label>
          <textarea class="form-control" id="exampleTextarea" rows="3" name="comments" placeholder="Post your queries"></textarea>
        </div>
      </div>
    </div>
    <div class="">
      <div class="col-sm-12 terms-accept form-group">
        <div class="custom-check">
          <input type="checkbox" id="c" name="box" required/>
          <label for="c"><strong><%= @checkout_terms.description %></strong></label>
        </div>
        <em>  </em>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= submit_tag 'Submit', :class => 'btn btn-primary pull-right' %>
        &nbsp;
        &nbsp;
        <button type = "reset" class ="btn-outline">Reset</button>
      </div>
    </div>
  </div>
</div>
<% end %>
