<%= form_for :clone_event, :url => { :action=>"clone_event" } do |f| %>
  <table>
    <tr>
      <td>Select Event :</td>
      <td>
        <%= f.select :event_id, options_for_select(Event.where(parent_id: nil).map { |e| [e.title, e.id] }), :class => 'genForm_dropBox' %>
      </td>
      <td>
        <%= submit_tag 'Submit' %>
      </td>
    </tr>
  </table>
<% end %>