<div class="container">
  <div class="jumbotron">
    Dear <%= @user_payment_detail.first_name + " " + @user_payment_detail.last_name %>,
    <br/><br/>

    Thank you for choosing AdventureCrusaders to be your preferred partner in trails! Here's your booking request receipt.

    <br/><br/>

    Booking Summary:
    <br/>
    <div class="container">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td>Event Name:</td>
              <td><%= link_to @event.title, "#" %></td>
            </tr>
            <tr>
              <td>Date:</td>
              <td><%= @event.start_date %></td>
            </tr>
            <tr>
              <td>Adventurers Count:</td>
              <td><%= @user_payment_detail.head_count %></td>
            </tr>
            <tr>
              <td>Amount Received:</td>
              <td><%= @transaction.txn_amount %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br/>
    We will get back with detailed information. Please visit our website www.adventurecrusaders.com for refund policies and terms and conditions. We look forward to seeing you at the event. If you have any questions, please write to us at support@adventurecrusaders.com or call us on +91 9164460041
  </div>
</div>