<section class="home-section home-full-height" id="home">
  <div class="hero-slider">
    <ul class="slides">
      <li class="bg-dark-30 restaurant-page-header bg-dark" style="background-image:url('<%= asset_path(@highlights_1.document.url) %>');background-attachment: fixed;">
        <div class="titan-caption">
          <div class="caption-content">

            <div class="font-alt titan-title-size-1" style="background-color: transparent;">
              <div class="module-subtitle font-serif animated fadeInUp" style="margin-top: 100px;"><%= @highlights_1.description %> </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<div class="main">
  <!-- ***********************************************************************   -->
  <section class="courses" id="events" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
      <div class="section-title">
        <p class="wow animated fadeInUp">Relax your mind with essence of nature</p>
        <h3 class="wow animated fadeInUp">Pick Your Trip</h3>

      </div>
      <div class="owl-carousel courses-carousel">
        <% @events.each do |event| %>
          <div class="card wow animated fadeInUp">
            <% if event.status == 'bookings_open' %>
              <div class="img-wrap book_now_2">
                <%= image_tag(event.document.url, :class => "card-img-top") if event.document %>
              </div>
            <% else %>
              <div class="img-wrap coming-soon">
                <%= image_tag(event.document.url, :class => "card-img-top") if event.document %>
              </div>
            <% end %>
            <div class="card-block">
              <span class="course-badge"><%= event.title.truncate(25, separator: ' ') %></span>
              <h5 class="card-title"><%= event.short_description.truncate(110, separator: ' ') %></h5>
              <hr>
              <p class="card-text date"><i class="fa fa-calendar" aria-hidden="true"></i> <%= event.start_date %></p>
              <p class="card-text price"><a href="<%= event_path(event) %>" class="btn-outline">View More</a></p>
            </div>
          </div>
        <% end %>
      </div>
      <br/>
      <p class="card-text price" style="text-align: center;"><a href="<%= events_path %>" class="btn-outline">Checkout All Events</a></p>
    </div>
  </section>
  <script>
    $(".courses-carousel").owlCarousel({
         loop: true,
         margin: 30,
         nav: true,
         smartSpeed: 500,
         dots: false,
         autoplay: true,
         responsive: {
             0: {
                 items: 1
             },
             600: {
                 items: 2,
                 width : '50%'
             },
             1000: {
                 items: 4
             }
         }
     });
  </script>
  <!-- ********************************************************************** -->
  <div class="container" id="Expedition">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" style="margin-left: 25%; text-align:center;">
        <h2 class="module-title font-alt wow animated fadeInUp" style="margin-bottom:25px; margin-top:25px;">Expedition's</h2>
      </div>
    </div>
  </div>
  <section id="Section3" style="background:#e9ebee; padding-top:20px;">
    <div class="container">
      <div class="row" id="box-search">
        <a href="<%= event_path(@expedition_1) %>">
          <div class="thumbnail text-center col-md-6 wow animated fadeInLeft">
            <% if @expedition_1.status == 'bookings_open' %>
              <div class="img-wrap book_now_2">
                <%= image_tag(@expedition_1.document.url, :class => "card-img-top") if @expedition_1.document %>
              </div>
            <% else %>
              <div class="img-wrap coming-soon">
                <%= image_tag(@expedition_1.document.url, :class => "card-img-top") if @expedition_2.document %>
              </div>
            <% end %>

            <div class="caption">
              <h4 class="wow animated fadeInUp" data-wow-delay="0.5s" style="font-weight:bold;"><%= @expedition_1.title %></h4>
              <!-- <span class="wow animated fadeInUp" data-wow-delay="0.5s" style="color:#f00">COMING SOON</span> -->
            </div>
          </div>
        </a>
        <a href="<%= event_path(@expedition_2) %>">
          <div class="thumbnail text-center col-md-6 wow animated fadeInRight">
            <% if @expedition_2.status == 'bookings_open' %>
              <div class="img-wrap book_now_2">
                <%= image_tag(@expedition_2.document.url, :class => "card-img-top") %>
              </div>
            <% else %>
              <div class="img-wrap coming-soon">
                <%= image_tag(@expedition_2.document.url, :class => "card-img-top") %>
              </div>
            <% end %>
            <div class="caption wow animated fadeInUp" data-wow-delay="0.5s">
              <h4 class="wow animated fadeInUp" data-wow-delay="0.5s" style="font-weight:bold;"><%= @expedition_2.title %></h4>
              <!-- <span class="wow animated fadeInUp" data-wow-delay="0.5s" style="color:#f00">COMING SOON</span> -->
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="module" id="aboutus" style="padding-top:80px;">
    <div class="container">
      <!-- <div class="row"> -->
      <!-- <div class="col-sm-8 col-sm-offset-3" style="margin-left: 17%;"> -->
      <!--<h2 class="module-title font-alt"></h2>-->
      <!-- <div class="module-subtitle font-serif">Explore Nature with Adventure, Learn From Natural Culture, Conservation through Exploration. IS WHAT WE DO. </div> -->
      <!-- </div> -->
      <!-- </div> -->
      <div class="row multi-columns-row">
        <div class="col-md-3 col-sm-6 col-xs-12 wow animated fadeInUp">
          <div class="features-item">
            <div class="features-icon"><span class="icon-profile-male"></span></div>
            <% who_we_are = instance_variable_get('@who_we_are') %>
            <h3 class="features-title font-alt"><%= who_we_are.key.humanize %></h3>
            <p><%= who_we_are.description %></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow animated fadeInUp">
          <div class="features-item">
            <div class="features-icon"><span class="icon-gears"></span></div>
            <% what_we_do = instance_variable_get('@what_we_do') %>
            <h3 class="features-title font-alt"><%= what_we_do.key.humanize %></h3>
            <p><%= what_we_do.description %></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow animated fadeInUp">
          <div class="features-item">
            <div class="features-icon"><span class="icon-tools"></span></div>
            <% from_whom_we_learn = instance_variable_get('@from_whom_we_learn') %>
            <h3 class="features-title font-alt"><%= from_whom_we_learn.key.humanize %></h3>
            <p><%= what_we_do.description %></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow animated fadeInUp">
          <div class="features-item">
            <div class="features-icon"><span class="icon-lightbulb"></span></div>
            <% what_we_learn = instance_variable_get('@what_we_learn') %>
            <h3 class="features-title font-alt"><%= what_we_learn.key.humanize %></h3>
            <p><%= what_we_learn.description %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="module" id="Gallery" style="padding-top:0px; padding-bottom:0px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt wow animated fadeInUp">Gallery</h2>
          <div class="module-subtitle font-serif"></div>
        </div>
      </div>
    </div>
    <div class="flex-container wow animated fadeInUp" style="padding-left:10px; padding-right:10px;">
      <div class="row multi-columns-row">
        <div class="gallery-carousel owl-carousel">
           <% 1.upto(6).each do |i| %>
             <% image = instance_variable_get("@gal_image_#{i}") %>
                    <div class="gallery-item">
                  <div class="gallery-image">
                    <a class="gallery" href="<%= asset_path(image.image.url) %>"> <%= image_tag image.image.url %>
                      <div class="gallery-caption">
                        <div class="gallery-icon">
                          <span class="icon-magnifying-glass"></span>
                        </div>
                    </a>
                </div>
              </div>
              </div>
           <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
</section>
<section class="bg-dark" style="padding-top: 22px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2 wow animated fadeInUp">
        <div class="callout-text font-alt">
          <h3 class="callout-title">Want to see more photos?</h3>
          <p>We are always open to interesting Adventures.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2 wow animated fadeInUp">
        <div class="callout-btn-box"><a class="btn btn-w btn-round" href="https://www.facebook.com/pg/AdventureCrusadersClub/photos/?ref=page_internal" target="_blank">Lets view portfolio</a></div>
      </div>
    </div>
  </div>
</section>
<section class="module" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt wow animated fadeInUp">Get in touch</h2>
        <div class="module-subtitle font-serif"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 wow animated fadeIn">
        <%= form_tag contact_contact_admin_index_path do %>
          <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <%= text_field_tag :name, nil, :class => "form-control", :id => 'name', :placeholder => 'Your Name*', :required => true %>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <label class="sr-only" for="name">Email</label>
            <%= email_field_tag :email, nil, :class => "form-control", :id => 'email', :placeholder => 'Your Email*', :required => true %>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <label class="sr-only" for="message">Message</label>
            <%= text_area_tag :message, nil, :class => "form-control", :id => 'message', :placeholder => 'Your Message*', :required => true, :rows => "7" %>
            <p class="help-block text-danger"></p>
          </div>
          <div class="text-center">
            <%= submit_tag("Submit", :id => "cfsubmit", :class=> "btn btn-block btn-round btn-d", :name=>"submit") %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6 wow animated fadeIn">
        <h1>ADVENTURE CRUSADERS CLUB</h1>
        <h3>Mobile : <%= @contact_number %></h3>
        <h4>Email: <a href="mailto:<%= @email %>" style="color: blue"><%= @email %></a></h4>
        <h4>Address: <%= @address %></h4>
        <br />
        <div class="footer-social-links" style="font-size:30px;">
          <a href="https://www.facebook.com/AdventureCrusadersClub/" target="_blank" style="margin-left:20px;"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/club_crusaders" target="_blank" style="margin-left:20px;"><i class="fa fa-twitter"></i></a>
          <a href="https://www.youtube.com/playlist?list=PL-uI8xizMdLMFD3AANsA6tkBf447aB8c6" target="_blank" style="margin-left:20px;"><i class="fa fa-youtube"></i></a>
          <a href="https://www.instagram.com/adventurecrusadersclub/" target="_blank" style="margin-left:20px;"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
</main>
<script>
  $(".gallery-carousel").owlCarousel({
       loop: false,
       margin: 30,
       nav: true,
       smartSpeed: 500,
       dots: false,
       autoplay: true,
       responsive: {
           0: {
               items: 1
           },
           600: {
               items: 2,
               width : '50%'
           },
           1000: {
               items: 3
           }
       }
   });
</script>
