<div class="main">
  <!-- <section class="module bg-dark-60 about-page-header" data-background="<%= asset_path('privacy-policy.jpg') %>" style="padding: 100px 0;"> -->
 <!--  <section class="module bg-dark-60 about-page-header" data-background="<%= asset_path('privacy-policy.jpg') %>" style="padding: 100px 0;" background-image: url("<%= asset_path('privacy-policy.jpg') %>");>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">PRICACY POLICY</h2>
        </div>
      </div>
    </div>
  </section> -->
  <section class="module pt-0 pb-0" id="about" style="margin-top:50px;">
    <div class="container">
      <div class="row">
        <!--<div class="col-xs-12 col-md-6 side-image" data-background="assets/images/section-14.jpg"></div>-->
        <div class="col-sm-12" style="text-align:justify;">
          <h3 class="module-title font-alt" style="margin-bottom:35px;">The Adventure crusader Club Privacy Policy</h3>
          <p style="font-size:14px;">This privacy policy covers how the Adventure Crusader Club uses personal information collected at this site. Please read this privacy policy before using the site or submitting any personal information. By using our site, you are accepting the practices described in this privacy policy. </p>
          <h5 class="module-title font-alt" style="text-align:left; font-size:18px; margin-bottom:0px; font-weight:bold;">The Adventure crusader Club Privacy Policy</h5>
          <p style="font-size:14px;">This privacy policy covers how the Adventure Crusader Club uses personal information collected at this site. Please read this privacy policy before using the site or submitting any personal information. By using our site, you are accepting the practices described in this privacy policy. </p>
          <h5 class="module-title font-alt" style="text-align:left; font-size:18px; margin-bottom:0px; font-weight:bold;">Collection of Information</h5>
          <p style="font-size:14px;">The  Adventure Crusader Club collects personally identifiable information, like names, postal addresses, email addresses, phone number etc., when you book a trip or take advantage of special offers. </p>
          <h5 class="module-title font-alt" style="text-align:left; font-size:18px; margin-bottom:0px; font-weight:bold;">Distribution of Information</h5>
          <p style="font-size:14px;">We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes. </p>
          <h5 class="module-title font-alt" style="text-align:left; font-size:18px; margin-bottom:0px; font-weight:bold;">Third Party Partners and Suppliers:</h5>
          <p style="font-size:14px;">The  Adventure Crusader Club will share your information with the outside suppliers (such as guides, travel companies, hotel companies, insurance companies, and credit card processing entities etc, which perform services on our behalf. The Outdoor Adventure Club and its contracted suppliers never sell, lease or trade information about you or your travel information to other parties in the ordinary course of business.</p>
          <h5 class="module-title font-alt" style="text-align:left; font-size:18px; margin-bottom:0px; font-weight:bold;">Commitment to Data Security</h5>
          <p style="font-size:14px;">Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. All emails and newsletters from this site allow you to opt out of further mailings. </p>
          <h5 class="module-title font-alt" style="text-align:left; font-size:18px; margin-bottom:0px; font-weight:bold;">Privacy Contact Information</h5>
          <p style="font-size:14px;">We reserve the right to make changes to this policy. Any changes to this policy will be posted. If you have any questions, concerns, or comments about our privacy policy, please contact us at: </p>
          <p>
            Adventure Crusaders Club<br />
            #250, Shivakote, BLR-560089<br />
            Phone: 9164460041<br />
            Email: info@adventurecrusader.com
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
</main>
