<div class="main">
  <!-- <section class="module bg-dark-60 about-page-header" data-background="<%= asset_path('condition.jpg') %>" style="padding: 100px 0;" style="padding: 100px 0px;" background-image: url("<%= asset_path('condition.jpg') %>");>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">TERMS & CONDITIONS</h2>
        </div>
      </div>
    </div>
  </section> -->
  <section class="module pt-0 pb-0" id="about" style="margin-top:50px;">
    <div class="container">
      <div class="row">
        <!--<div class="col-xs-12 col-md-6 side-image" data-background="assets/images/section-14.jpg"></div>-->
        <div class="col-sm-12" style="text-align:justify;">
          <h3 class="module-title font-alt" style="margin-bottom:35px;">The Adventure crusader Club Terms and Conditions</h3>
          <p style="font-size:14px;">On camping sites / During adventure activities </p>
          <p style="font-size:14px;">Participant(s)/Guardians should understand the risks involved in any adventure activity, before enrolling. </p>
          <p style="font-size:14px;">In case of any injury, sickness, accident, death or any other casualty or loss or damage of valuables or luggage or any equipment; organizers, volunteers or experts or any other person involved wholly or partially, either individually or jointly with Adventure Crusader Club shall not be responsible in any manner for the same and no claims of participants, parents, guardians, relatives or friends of participants will be entertained. </p>
          <p style="font-size:14px;">During the camp or treks or any adventure activity conducted by Adventure Crusader Club, participants shall abide by instructions and authorized representative of Adventure Crusader Club. </p>
          <p style="font-size:14px;">During the camps or treks or any adventure activity, the decision of authorized representative of Adventure Crusader Club shall be final and binding on all participants.</p>
          <p style="font-size:14px;">If participant(s) is found to disobey the directions/instructions of the authorized representative of Adventure Crusader Club, participant(s) shall be resposible for there own actions. </p>
          <p style="font-size:14px;">Participant(s) is responsible to inform the representative of Adventure Crusader Club regarding and medical conditions & disorders etc. arising during the program should be informed to the organizers.</p>
          <p>Any expenses for all medical treatment and arrangements made by the organizers for the participants will be solely borne by the participant.</p>
          <p>Consumption of liquor, tobacco products, cigarette etc. is strictly prohibited during the programs.</p>
          <p>Participant(s) should follow eco friendly behavior and respect nature i.e. avoids destruction of the flora and fauna, avoid throwing plastics in the places visited etc.</p>
          <h3 class="module-title font-alt" style="text-align:left; margin-bottom:10px;">Cancellation</h3>
          <p>    The request for cancellation and refund if any should be made in the Cancellation Form, duly signed by the traveler/guardian.</p>
          <p>Cancellation form will be available in the office during working days and during working hours.</p>
          <p>Refund will be paid by cheque only(not cash) within 15 days of event conclusion.</p>
          <p>    For cancellation of air tickets, rules of airline will be applied.</p>
          <p>Substitution of one person with another will be permitted where feasible and will be at the discretion of the management.</p>
          <p>    Adventure Crusader Club reserves all rights to modify/change any program/event.</p>
          <p>Adventure Crusader Club reserves all rights to cancel any event and in that case only, all fees accepted as “program fees/event fees” will be refunded within 15 working days after the date of cancellation.</p>
          <h3 class="module-title font-alt" style="text-align:left; margin-bottom:10px;">For any event  cancellation done by particepents below mentiond terms will be followed</h3>
          <p>    For more than 7 days prior to departure, 90% of the program fees will be refunded, or 100% amount can be remitted for future programs conducted within 3 months.</p>
          <p>For cancellation done more than 3 days and less than 7 days prior to the departure date, 50% of program fees will be refunded.</p>
          <p>No refund will be made if cancellation is made within 3 days prior to the departure date of event.</p>
          <p></p>
        </div>
      </div>
    </div>
  </section>
</div>
</main>
