<div class="container" style="margin-right: 10%; margin-left: 8%; margin-top: 9% ; padding-right: 15%;">
  <h2 style="margin-left: 1.5%">
    <h2>Events</h2>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#bookings_open">Bookings Open</a></li>
      <li><a data-toggle="tab" href="#coming_soon">Coming Soon</a></li>
      <li><a data-toggle="tab" href="#ongoing">Ongoing</a></li>
      <li><a data-toggle="tab" href="#completed">Completed</a></li>
    </ul>
    <div class="tab-content">
      <div id="bookings_open" class="container tab-pane active"><br>
        <section class="home-section home-full-height" id="home bookings_open">
          <% if @bookings_open_events.present? %>
            <% @bookings_open_events.each do |key, values| %>
              <% if key %>
              	<h1><%= "Events in #{Event.months.invert[key]}" %></h1>
              <% end %>
              <% values.flatten.each_slice(3) do |events| %>
                <div class="row" style="margin-top: 20px; margin-right: 10%;">
                  <% events.each do |event| %>
                    <a href="<%= event_path(event) %>">
                      <div class="col-md-4">
                        <div class="column">
                          <div class="post-module">
                            <div class="thumbnail">
                              <%= image_tag event.document.url, :class => 'img-responsive' %>
                            </div>
                            <div class="post-content">
                              <!-- <a href="<%#= checkout_path({event_id: event.id}) %>">
                                <div class="category">Pay Now</div>
                              </a> -->
                              <a href="<%= event_path(event) %>">
                                <h1 class="title"><%= event.title.truncate(20) %></h1>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <h2 class="sub_title"><%= event.duration ? event.duration : 'Not Available' %></h2>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <p class="description"><%= event.short_description.truncate(200) %></p>
                              </a>
                              <div class="post-meta"><span class="timestamp"><i class="fa fa-rupee"></i> <%= event.amount ? event.amount : 'Not Available' %></span>
                                <%= link_to "", event_path(event, :anchor => "disqus_thread"), :"data-disqus-identifer" => event.id %>
                                <a href="<%= event_path(event) %>"><span class=" pull-right" style="color: blue;">Read More</span></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <h4 style="margin-left: 1%;">No Events to show</h4>
          <% end %>
        </section>
      </div>
      <div id="coming_soon" class="container tab-pane fade"><br>
        <section class="home-section home-full-height" id="home coming_soon">
          <% if @coming_soon_events.present? %>
            <% @coming_soon_events.each do |key, values| %>
              <% if key %>
              	<h1><%= "Events in #{Event.months.invert[key]}" %></h1>
              <% end %>
              <% values.flatten.each_slice(3) do |events| %>
                <div class="row" style="margin-top: 20px; margin-right: 10%;">
                  <% events.each do |event| %>
                    <a href="<%= event_path(event) %>">
                      <div class="col-md-4">
                        <div class="column">
                          <div class="post-module">
                            <div class="thumbnail">
                              <%= image_tag event.document.url, :class => 'img-responsive' %>
                            </div>
                            <div class="post-content">
                              <a href="#">
                                <div class="category">Coming Soon</div>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <h1 class="title"><%= event.title.truncate(20) %></h1>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <h2 class="sub_title"><%= event.duration ? event.duration : 'Not Available' %></h2>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <p class="description"><%= event.short_description.truncate(200) %></p>
                              </a>
                              <div class="post-meta"><span class="timestamp"><i class="fa fa-rupee"></i> <%= event.amount ? event.amount : 'Not Available' %></span>
                                <%= link_to "", event_path(event, :anchor => "disqus_thread"), :"data-disqus-identifer" => event.id %>
                                <a href="<%= event_path(event) %>"><span class=" pull-right" style="color: blue;">Read More</span></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <h4 style="margin-left: 1%;">No Events to show</h4>
          <% end %>
        </section>
      </div>
      <div id="ongoing" class="container tab-pane fade"><br>
        <section class="home-section home-full-height" id="home ongoing">
          <% if @ongoing_events.present? %>
            <% @ongoing_events.each do |key, values| %>
              <% if key %>
              	<h1><%= "Events in #{Event.months.invert[key]}" %></h1>
              <% end %>
              <% values.flatten.each_slice(3) do |events| %>
                <div class="row" style="margin-top: 20px; margin-right: 10%;">
                  <% events.each do |event| %>
                    <a href="<%= event_path(event) %>">
                      <div class="col-md-4">
                        <div class="column">
                          <div class="post-module">
                            <div class="thumbnail">
                              <%= image_tag event.document.url, :class => 'img-responsive' %>
                            </div>
                            <div class="post-content">
                              <a href="#">
                                <div class="category">Ongoing</div>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <h1 class="title"><%= event.title.truncate(20) %></h1>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <h2 class="sub_title"><%= event.duration ? event.duration : 'Not Available' %></h2>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <p class="description"><%= event.short_description.truncate(200) %></p>
                              </a>
                              <div class="post-meta"><span class="timestamp"><i class="fa fa-rupee"></i> <%= event.amount ? event.amount : 'Not Available' %></span>
                                <%= link_to "", event_path(event, :anchor => "disqus_thread"), :"data-disqus-identifer" => event.id %>
                                <a href="<%= event_path(event) %>"><span class=" pull-right" style="color: blue;">Read More</span></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <h4 style="margin-left: 1%;">No Events to show</h4>
          <% end %>
        </section>
      </div>
      <div id="completed" class="container tab-pane fade"><br>
        <section class="home-section home-full-height" id="home completed">
          <% if @completed_events.present? %>
            <% @completed_events.each do |key, values| %>
              <% if key %>
              	<h1><%= "Events in #{Event.months.invert[key]}" %></h1>
              <% end %>
              <% values.flatten.each_slice(3) do |events| %>
                <div class="row" style="margin-top: 20px; margin-right: 10%;">
                  <% events.each do |event| %>
                    <a href="<%= event_path(event) %>">
                      <div class="col-md-4">
                        <div class="column">
                          <div class="post-module">
                            <div class="thumbnail">
                              <%= image_tag event.document.url, :class => 'img-responsive' %>
                            </div>
                            <div class="post-content">
                              <a href="#">
                                <div class="category">Completed</div>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <h1 class="title"><%= event.title.truncate(20) %></h1>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <h2 class="sub_title"><%= event.duration ? event.duration : 'Not Available' %></h2>
                              </a>
                              <a href="<%= event_path(event) %>">
                                <p class="description"><%= event.short_description.truncate(200) %></p>
                              </a>
                              <div class="post-meta"><span class="timestamp"><i class="fa fa-rupee"></i> <%= event.amount ? event.amount : 'Not Available' %></span>
                                <%= link_to "", event_path(event, :anchor => "disqus_thread"), :"data-disqus-identifer" => event.id %>
                                <a href="<%= event_path(event) %>"><span class=" pull-right" style="color: blue;">Read More</span></a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <h4 style="margin-left: 1%;">No Events to show</h4>
          <% end %>
        </section>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('.post-module').hover(function() {
        $(this).find('.description').stop().animate({
          height: "toggle",
          opacity: "toggle"
        }, 300);
      });
    });
  </script>
