<div class="main">
  <% if @event.document.try(:url) %>
    <% image = asset_path(@event.document.url) %>
  <% else %>
    <% image = asset_path('black.jpeg') %>
  <% end %>
  <section class="module bg-dark-60 about-page-header" style="background-image: url(<%= image %>)">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt"></h2>
          <div class="module-subtitle font-serif wow animated fadeInUp"><%= @event.title %><br/>
            <% if @event.documents.present? %>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="background: transparent; border-color: transparent;">Click to View Images</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="module pt-0 pb-0" id="about" style="margin-top:25px;">
    <div class="container">
      <div class="page-body">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="module-title-x font-alt wow animated fadeInUp"><%= @event.title %>
              <%# if @event.status == 'bookings_open' %>
                <!-- (<a class="wow animated fadeInUp" style="color:blue;" href="<%#= checkout_path({event_id: @event.id}) %>">BOOK NOW</a>) -->
              <%# end %>
            </h3>
          </div>
          <div class="col-sm-12 wow animated fadeInUp">
            <div class="package-highlight">
              <ul class="list-inline">
                <li><span><%= @event.duration %></span></li>
                <li><span><%= @event.start_date.present? ? @event.start_date.strftime("%A") : "Date Not Available" %></span></li>
                <li><span><%= @event.amount %></span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-12">
                <p class="details-copy wow animated fadeIn">
                  <%= @event.full_description %>
                </p>
              </div>
            </div>
          </div>

            <div class="col-sm-3">

              <div class="book-highlight">
                <h4 class="wow animated fadeInUp">&#x20B9;  <%= @event.amount %></h4>
                <p class="text-center wow animated fadeIn">(Per Person, Including GST)</p>
              </div>

              <%# if @event.status == 'bookings_open' %>
                <!-- <div class="text-center">
                  <h5><a class="btn-outline wow animated fadeInUp"  href="<%#= checkout_path({event_id: @event.id}) %>">BOOK NOW</a></h5>
                </div> -->
              <%# end %>
              <div class="book-highlight">
                <% instructor_detail = @event.instructor_detail %>
                  <% if instructor_detail.present? && instructor_detail.user.present? %>
                    <div class="text-center">
                      <h3 class="wow animated fadeInUp"> <b>Instructor Details</b></h3>
                      <h6><b><i class="fa fa-user" aria-hidden="true"></i></b> <%= instructor_detail.user.full_name %></h6>
                      <h6><b><i class="fa fa-phone" aria-hidden="true"></i></b> <%= instructor_detail.user.contact_number %></h6>
                      <h6><b><i class="fa fa-envelope" aria-hidden="true"></i></b> <%= instructor_detail.user.email %></h6>
                    </div>
                  <% else %>
                    <div class="text-center"><h3> Instructor details will be updated soon</h3></div>
                  <% end %>
                </div>
            </div>





        </div>
      </div>
      <div class="row">
        <% if @event.tentative_schedules.present? %>
          <div class="col-sm-12 wow animated fadeInUp">
            <div class="module-subtitle font-alt text-leftx" style="margin-bottom:10px;">Tentative Schedule</div>
            <% @event.tentative_schedules.each do |tentative_schedule| %>
              <div class="timeline-item" date-is="<%= tentative_schedule.key %>">
                <h1></h1>
                <ul>
                  <% tentative_schedule.value.split(',').each do |text| %>
                    <li><%= text %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <blockquote class="wow animated fadeIn" style="    margin-top: 20px;">
              <p>Note: Drop points will be the same as pick-up points</p>
            </blockquote>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row pack-desc">
    <div class="col-xs-12">
        <div class="col-md-4 wow animated fadeInUp">
      <div class="module-subtitle font-serif" style="margin-bottom:10px;">What to pack..?</div>
      <h3 style="">Always PACK LIGHT</h3>
      <ul>
        <% @event.what_to_pack.split(',').each do |text| %>
          <li><%= text %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4 wow animated fadeInUp">
      <div class="module-subtitle font-serif" style="margin-bottom:10px;">Inclusions</div>
      <h3 style="">What is included in the tour</h3>
      <ul>
        <% @event.inclusions.split(',').each do |text| %>
          <li><%= text %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4 wow animated fadeInUp">
      <div class="module-subtitle font-serif" style="margin-bottom:10px">Exclusions</div>
      <h3 style="text-align:left; ">What is NOT included in the tour</h3>
      <ul>
        <% @event.exclusions.split(',').each do |text| %>
          <li><%= text %></li>
        <% end %>
      </ul>
    </div>
    </div>
  
  </div>
</div>
</section>

<!-- <div class="comment-section container">
  <div class="col-sm-8 wow animated fadeInUp">
    <div id="disqus_thread"></div>
  </div>
  <script>

    var disqus_config = function () {
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = "https://adventurecrusaders-com.disqus.com/embed.js";
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div> -->

<%= render 'layouts/disqus' %>
</div>
</div>
</main>

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align: center;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Gallery</h4>
        </div>
        <div class="modal-body ScrollStyle" style="text-align: center;">
          <div class="row" >
            <% @event.documents.each do |doc| %>
              <div class="col-md-4" style="margin-top:10px;">
                <%= image_tag doc.image.url, :style => "width:150px; height:150px;" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
