<div class="container thank-you">
  <img src="https://image.ibb.co/crYOmp/trekking.png" alt="trekking" border="0" class="img-thanku">
  <div class="row">
    <div class="col-sm-12">
      <% event = Event.find_by(id: params[:event_id]) %>
      <h1 class="text-center">Success! Booking confirmed.</h1>
      <p>You have booked an event to <strong><a href="<%= event_path(event) %>"><%= event.title %></a></strong> on <strong><%= event.start_date %></strong>. An email has been sent to you. Call us for any queries.</p>

      <h5>What next?</h5>
      <ul>
        <li>You will get a call from our representative.</li>
        <li>Guide plan details will be sent.</li>
      </ul>
      <a href="<%= root_path %>#events" class="btn-outline">Browse other events</a>
    </div>
  </div>
</div>

