@import "active_admin/mixins";
@import "active_admin/base";

$skinActiveColor: #034503;
$skinHeaderBck: #031B46;
$panelHeaderBck: #5A0303;

@import "active_skin";
$skinLogo: #fff image-url("admin_logo.png") no-repeat 0px 0%;

h1#site_title {
  display: none;
}

.footer {
  display: none;
}