/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require bootstrap
 *= require animate
 *= require font-awesome.min
 *= require et-line-font
 *= require flexslider
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require magnific-popup
 *= require simpletextrotator
 *= require style
 *= require events
 */

 @media (min-width:768px){
 .gallery-image img {
    height: 280px;
 }
 /*.carousel-inner>.item>img {
    height: 600px;
 }*/
 .carousel {
    position: relative;
    height: 100vh;
  }
  .carousel-inner>.item>img {
    height:100%;
  }

.ScrollStyle
{
  max-height: 400px;
  overflow-y: scroll;
}

  .main .about-page-header {
    padding: 60px 10px;
    min-height: 430px;
    background-size: 100%;
}
.module-title + .module-subtitle {
    margin: 0;
    font-size: 24px;
}
.main .module {
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

}

#disqus_thread {
 position: relative;
}
#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}

.module, .module-small {
  position: relative;
  padding: 60px 0;
}

.navbar-custom + .main {
  margin-top: 70px;
}

.main .module {
  background-size: cover;
}

.box-radius-left {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #CCC;
    background-color: #FFF;
    color: #29b1ed;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
.btn.btn-circle:link {
    color:#fff !important;
    text-decoration:none !important;
}


/*--------------------------------------------------------------
 Navbar
--------------------------------------------------------------*/
.navbar-custom {
  background-color: #000;
  border: 0;
  border-radius: 0;
  z-index: 1000;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  transition: background, padding 0.4s ease-in-out 0s;
}

.navbar a {
  transition: color 0.125s ease-in-out 0s;
}

.navbar-custom .dropdown-menu {
  background: rgba(26, 26, 26, 0.9);
  border-radius: 0;
  border: 0;
  padding: 0;
  box-shadow: none;
}

.navbar-custom .navbar-brand {
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

.navbar-custom .nav li > a {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size:14px;
  color:#FFF;
}

.navbar-custom .dropdown-menu > li > a {
  border-bottom: 1px solid rgba(73, 71, 71, 0.15) !important;
  padding: 11px 15px;
  letter-spacing: 2px;
  color: #999;
}

.navbar-custom .dropdown-menu .dropdown-menu {
  border-left: 1px solid rgba(73, 71, 71, 0.15);
  left: 100%;
  right: auto;
  top: 0;
  margin-top: 0;
}

.navbar-custom .dropdown-menu.left-side .dropdown-menu {
  border: 0;
  border-right: 1px solid rgba(73, 71, 71, 0.15);
  right: 100%;
  left: auto;
}

.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover,
.navbar-custom .dropdown-menu > li > a:focus,
.navbar-custom .dropdown-menu > li > a:hover {
  background: none;
  color: #fff;
}

.navbar-custom .dropdown-menu > li > a:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.navbar-custom .dropdown-toggle:after {
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  margin-top: -6px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 9px;
  content: "\f107";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-custom .navbar-toggle .icon-bar {
  background: #fff;
}

.dropdown-menu {
  min-width: 180px;
  font-size: 11px;
}


.dropdown-search {
 position: relative;
 padding: 5px;
}

.dropdown-search .form-control {
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-size: 11px;
}

.comment-section {
  padding:30px 0;
  margin:0 auto;
}
.comment-section textarea {
  border: 1px solid #eee;
  width:100%;
}
.comment-section input {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 8px 37px;
  border:0;
  border-radius: 30px;
  margin:10px auto;
  width:200px;
  display:block;
}

.gallery-item {
  word-break: break-all;
  overflow: hidden;
}

body {
    background: #fff;
    font: 400 12px/1.8 "Open Sans", sans-serif !important;
    color: #666;
    -webkit-font-smoothing: antialiased;
}

.navbar-transparent {
    padding-top: 0 !important;
}

a, a:link, a:visited {
    text-decoration: none !important;
}

.checkout {
    margin-top: 140px;
    background: #fff;
    padding: 15px;
    border: 1px solid #eee;
    margin-bottom: 20px;
}
.checkout:before {
    display:none;
    content: "";
    background: #F3F3F3;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 107px;
    z-index: -1;
}
.checkout label {
    color: #000;
    font-weight: 600;
}
.checkout label .asteric {
    color: #ff0000;
}

 .titel-heading { font-size:18px; font-weight:bold; color:#333; background:#f6f6f6; border:1px solid #CCC; padding-left: 15px; }

 .red{ color:red;}
.form-area { background-color: #FAFAFA; padding: 10px 40px 60px; margin: 10px 0px 60px; border: 1px solid GREY;}


.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 100%;
    margin: 0 auto;
        padding: 5px 10px;

    /* Styles */
    background: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
padding:0;
margin:0;
    /* Styles */
    background: white;
    border: 1px solid rgba(0,0,0,0.17);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}


@media ( max-width: 585px ) {
    .input-group span.input-group-btn,.input-group input,.input-group button{
        display: block;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .input-group {
        position: relative;
    }
    .input-group span.data-up{
        position: absolute;
        top: 0;
    }
    .input-group span.data-dwn{
        position: absolute;
        bottom: 0;
    }
    .form-control.text-center {
        margin: 34px 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
        margin-left:0;
    }

}
.footer-new {
  padding:20px 15px;
}
.footer-new .footer-social-links{
  text-align:center;
      padding: 10px 0;
}
.footer-new .footer-social-links a {
    display: inline-block;
    padding: 0;
    background: rgba(153, 153, 153, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 2;
    margin: 5px 5px;
}







.courses { background:#F5F5F7;    padding: 50px 0; }
.courses .card{
    border:0;
    padding: 0;
    overflow: hidden;
}
.courses .card .card-block {
  padding:10px;
  position:relative;
}
.courses .card .img-wrap {
    overflow: hidden;
}
.courses .card .img-wrap img {
    transition: all .2s ease-in-out;
        max-height: 148px;
}

.courses .card:hover .img-wrap img { transform: scale(1.1)}


.courses .card .card-block .course-badge{
  color: #fff;
    background: #000;
    padding: 0.3rem 0.8rem;
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 160px;
    text-align: center;
}
.courses .card .card-block .card-title { padding:1rem 0;}
.courses .card .card-block .date,.card .card-block .price {
  width:49%;
  display:inline-block;
      font-size: 12px;
    margin: 0;
    vertical-align: middle;
}
.courses .card .card-block .price {
  text-align:right;
  color:#e84444;
  font-weight:bold;
  font-size: 1rem;
}

.courses .card .card-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0,0,0,0.8);
    color: #fff;
    opacity:0;
    transition:all .4s linear;
    padding: 2.5rem 1rem;
}
.courses .card:hover .card-overlay{
    opacity:1;
}
.courses .card .card-title {
    height: 65px;
}
.courses .card .card-overlay .btn {text-align:center;display: block;width: 100px;margin: 2rem auto;}
.courses .owl-dots{
  float: right;
  margin-top: 5px;
}
.courses .owl-dots .owl-dot {
    display: inline-block;
}
.courses .owl-dots .owl-dot span {
    border-radius: 50%;
    display: block;
    background: rgb(204, 204, 204);
    height: 10px;
    width: 10px;
    margin: 5px 3px;
    transition: .5s ease;
}
.courses .owl-dots .owl-dot.active span {
    background-color: #276EF1;
    width: 50px;
    border-radius: 10px;
    transition: .5s ease;
}

.contact .form-row {
    margin-bottom:1rem;
}
.contact .form-row .form-control {
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(17,17,17,0.4);
    font-size: 0.928em;
    padding: 1.1em 0;
    resize:none;
}
.contact .form-row .form-control:focus {
    border-color: rgba(17,17,17,0.8);
    color: #8e8e8e;
}


.section-title{
    padding: 0 0 4em 0;
    text-align:center;
}
.section-title p{
        color: #8e8e92;
    margin: 0
}
.section-title h3 {
    font-size:2.4em;
    color:#000;
    font-weight:bold;
    position: relative;
        margin: 0;
}
.section-title h3:after {
      background: #276EF1;
    content: '';
    height: 5px;
    width: 40px;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}



.btn-outline{
    color: #276EF1;
    font-size: 14px;
    position: relative;
    padding-right: 10px;
    font-weight: 600;
    background: transparent;
    border: 1px solid transparent;
    transition: all .4s linear;
    outline: none;
}
.btn-outline:after {
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: inherit;
    font-size: 16px;
    padding-left: 10px;
}
.btn-outline:hover{
    color: #000;
}
.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-primary:hover, .btn-primary:focus{
    opacity: 0.8;
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.courses .owl-prev:before {
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 22px;
    color: #276ef1;
    text-align: center;
    display: block;
    line-height: 1.5;
    margin: 0;
}
.courses .owl-next:before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 22px;
    color: #276ef1;
    text-align: center;
    display: block;
    line-height: 1.5;
    margin: 0;
}
.courses .owl-prev,.owl-next {
    background: #fff;
    width: 32px;
    height: 32px;
    font-size: 0;
    float: left;
        margin: 0 4px;
    border-radius: 2px;
}
 .courses .owl-nav {
    position: absolute;
    right: 0;
    bottom: -60px;
    height: 50px;
    z-index: 999;
}

.caption-content .module-subtitle {
    font-size: 28px;
    padding: 0 10px;
}


.gallery-carousel .owl-prev {
    background: rgba(0, 0, 0, 0.6);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 34%;
    left: -50px;
    border-radius: 50%;
}
.gallery-carousel .owl-next {
    background: rgba(0, 0, 0, 0.6);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 34%;
    right: -50px;
    border-radius: 50%;
}
.gallery-carousel .owl-prev:before {
        content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 46px;
    color: #fff;
    text-align: right;
    display: block;
    line-height: 2.2;
    margin: 0;
    position: absolute;
    right: 20px;
}
.gallery-carousel .owl-next:before {
       content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 46px;
    color: #fff;
    text-align: right;
    display: block;
    line-height: 2.2;
    margin: 0;
    position: absolute;
    right: 60px;
}

.package-highlight {
    margin-bottom:20px;
}
.package-highlight li {
    background: #000;
    color: #fff;
    float: left;
    margin-bottom: 10px;
    padding-top:3px;
    padding-bottom:3px;
}
.package-highlight li span {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0px 10px;
    line-height: 1;
    margin: 6px 3px;
    display: block;
}
.package-highlight li:last-child span {
    border-right: none;
}

.module-title-x {
    position: relative;
    letter-spacing: 4px;
    text-align: left;
    font-weight: 400;
    font-size: 30px;
    color: #111;
    margin: 0 0 0px;
}
.details-copy{
        font-size: 14px;
}

.book-highlight h4 {
    font-size: 4em;
    color: #000;
    font-weight: 600;
    text-align: center;
        margin-bottom: 0;
    line-height: 1;
}

.text-leftx {
    text-align: left !important;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #eee;
    font-style: italic;
    color: #d4b624;
}


.timeline-item {
  padding: 15px 20px;
  position: relative;
  color: #000;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.timeline-item h1 {
  font-size:18px;
  line-height:1;
}
.timeline-item p {
  font-size: 12px;
  color:#7c7c7c;
  font-style:italic;
}
.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 25px;
  top: 0;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  background:#000;
  padding:5px;
  line-height:1;
  color:#fff;
}
.timeline-item::after {
  width: 12px;
  height: 12px;
  display: block;
  top: 5px;
  position: absolute;
  left: -6px;
  border-radius: 50%;
  content: '';
  background: #000;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.form-control:focus {
    border-color: #383636;
}

.error-msg {
    color: #ff0000;
    font-size: 10px;
    margin: 0;
    position: absolute;
    right: 15px;
}
.checkout .form-group{
    margin-bottom:25px;
}

.custom-check input[type=checkbox] {
  opacity: 0;
}

.custom-check input[type=checkbox] + label {
  margin: 0 0 0 20px;
  position: relative;
  cursor: pointer;
      font-size: 14px;
    vertical-align: middle;
    font-weight: 400;
}

.custom-check input[type=checkbox] + label::before {
  content: '';
  position: absolute;
      left: -35px;
    top: 3px;
    width: 20px;
    height: 20px;
  display: block;
  background: white;
  border: 1px solid #A9A9A9;
}

 .custom-check input[type=checkbox] + label::after {
  content: ' ';
  position: absolute;
  left: -35px;
  top: 3px;
  width: 20px;
  height: 20px;
  display: block;
  z-index: 1;
  background: #000 url('https://s3.eu-west-2.amazonaws.com/gsdev-assets/Icons/tick.svg') no-repeat center center;
   background-size:15px;
  -ms-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  transition: all .3s ease;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.custom-check input[type=checkbox]:checked + label::after {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.terms-accept {
    background: rgba(245, 245, 245, 0.6);
    padding: 20px;
}

.img-wrap{
    position: relative;
}
.coming-soon:before {
    content: "";
    background: url(/assets/comingsoon.png);
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 999;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 6px 20px;
}

.book_now_2:before {
    content: "";
    background: url(/assets/book_now_1.png);
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 999;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 6px 20px;
}

.book_now_expedition:before {
    content: "";
    background: url(/assets/book_now_1.png);
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 999;
    background-size: 100%;
    margin-left: 195px;
    background-repeat: no-repeat;
    background-position: 6px 20px;
}

.thumbnail .caption {
    padding: 9px;
    color: #fff;
    position: absolute;
    bottom: 50px;
    z-index: 9999;
    width: 80%;
    margin: auto;
    left: 40px;
}

.thumbnail .caption h4 {
    background: rgba(0, 0, 0, 0.8);
    text-align: left;
    display: inline-block;
    padding: 10px 15px;
    font-weight: 500 !important;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 28px;
}
.thumbnail .caption h4 + span {
    background: #fff;
    display: block;
    position: absolute;
    right: 20px;
    padding: 2px 5px;
    font-weight: 600;
    border: 1px dashed #F44336;
}

#box-search .thumbnail {
    overflow: hidden;
    background: transparent;
    padding: 0;
}

#box-search .thumbnail img {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width:600px;
  height: 400px;
}

#box-search .thumbnail:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

.thank-you {
  background: #fff;
    padding: 40px 15px;
    border: 1px solid #eee;
    margin-top: 140px;
    margin-bottom: 20px;
}
.img-thanku {
  display:block;
  max-width:200px;
  height:auto;
  margin: 20px auto;

}
.thank-you h1 {
        color:#000;
        text-transform:uppercase;
        font-size:2em;
        font-weight:800;
        margin:30px 0;
}
.thank-you p,.thank-you li  {
    color:#000 !important;
    font-size:14px;
}

@media(max-width:767px){
    .home-section {
        height:100vh !important;
    }
    .hero-slider .slides li{
             background-size: cover;
    background-attachment: initial !IMPORTANT;
    }
    .navbar-custom .navbar-brand {
        max-width:300px;
    }
    .navbar-custom .navbar-brand img{
        width:100%;
        padding-top:5px;
    }
    .callout-btn-box {
        margin-bottom: 20px;
    }
}

.module-title-x { 
    word-break: break-word;
}

#Gallery {
    overflow-x: hidden;
}


.pack-desc{
    word-break: break-word;
    overflow-x: hidden !important;
}