<div class="comment-section container">
  <div class="col-sm-8 wow animated fadeInUp">
    <div id="disqus_thread"></div>
  </div>
  <script>
  var disqus_config = function () {
    this.page.url = "<%= request.original_url %>";
    this.page.identifier = "<%= request %>";
  };

  (function() {
    var d = document
    var s = d.createElement('script');
    s.src = 'https://18-191-55-84.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

