<footer class="footer bg-dark wow animated fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 wow animated fadeInUp">
        <p class="copyright font-alt">&copy; 2018&nbsp;<a href="index.html">Adventure Crusaders Club</a>, All Rights Reserved</p>
      </div>
      <div class="col-sm-6 wow animated fadeInUp">
        <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
