<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation" style="padding-bottom:10px; background: #000;">
  <!-- <div class="containern animated fadeIn" style="text-align:right; padding-right: 70px; color:  #FFF; padding-top: 10px; padding-bottom:5px; text-transform:none; font-size:14px; padding-right: 5.5%;  margin-right: 5%"><i class="fa fa-envelope-o" aria-hidden="true"></i>
    <%#= @email %>  &nbsp;&nbsp;&nbsp;   <i class="fa fa-phone" aria-hidden="true"></i>
    <%#= @contact_number %>
  </div> -->
  <div class="container" style="border-top: 1px solid #555; border-bottom: 1px solid #555;">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand animated fadeIn" href="<%= root_path %>" style="padding-top:4px; padding-bottom:57px;"><%= image_tag @logo.image.url %></a>
    </div>
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right animated fadeInUp" style="padding-top:5px;">
        <li><a class="section-scroll" href="<%= root_path %>" style="padding-top:12px;"><i class="fa fa-home" aria-hidden="true" style="font-size:23px;"></i></a></li>
        <li class="dropdown"><a class="dropdown-toggle" href="<%= root_path %>" data-toggle="dropdown">About</a>
          <ul class="dropdown-menu">
            <li><a class="section-scroll" href="#aboutus">Who we are?</a></li>
            <li><a class="section-scroll" href="#Gallery">Gallery</a></li>
            <li><a class="" href="<%= terms_and_conditions_path %>" target="_blank">TERMS & CONDITIONS</a></li>
            <li><a class="" href="<%= privacy_policy_path %>" target="_blank">PRIVICY POLICY</a></li>
          </ul>
        </li>
        <li><a class="section-scroll" href="<%= root_path %>#events">Weekend Trips</a></li>
        <!-- <li><a class="section-scroll" href="<%= events_path %>#courses">Courses</a></li> -->
        <li><a class="section-scroll" href="<%= root_path %>#Expedition">Expedition</a></li>
        <li><a class="section-scroll" href="<%= root_path %>#contact">Contact us</a></li>
      </ul>
    </div>
  </div>
</nav>